.item-list-container {
  padding: 40px;
  text-align: center;
  background-color: #ff5900;
}

.title {
  
  display: flex;
  justify-content: center;
  font-size: 32px;
  margin-bottom: 30px;
  border-radius: 80px;
  color: #000000;
  background-color: #F7CFD8;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 1rem;
  background-color: rgb(187, 157, 157);
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}