
.item-list-container {
  max-width: auto;
  padding: 40px;
  text-align: center;
  background-color: #E1ECC8;
}

.title-list-container {
  display: flex;
  width: auto;
  justify-content: center;
  font-size: 32px;
  margin-bottom: 30px;
  border-radius: 80px;
  color: #000000;
  background-color: #FF90BC;
}
